.content {
  grid-area: c;
  background-color: lightblue;
}

.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  height: inherit;
}

.dialogsItems {
  padding: 10px;
  text-decoration: none;
}

.dialog {
  text-decoration: none;
  background-color: lightyellow;
  padding: 10px;
  color: lightcoral;
  transition: 0.35s;
  font-size: 15px;
  transform: scale(1.2);
}

.dialog a:hover {
  color: rgb(89, 18, 18);
  transform: scale(1.2);
}

.dialog a.activeLink {
  color: gold;
  text-decoration: none;
}

.messages {
  text-decoration: none;
  padding: 10px;
}
